.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: gray;
  text-align: center;
}

p {
  margin: 0px;
}

.menu {
  padding: 0px;
  margin: 20px auto;
  display: flex;
  justify-content: center;


}

.menu li {
  list-style: none;
  text-align: center;


}


.menu li a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 35px;
  background-color: red;


}

.menu li:first-child a {
  border-radius: 8px 0px 0px 8px;
}

.menu li:last-child a {
  border-radius: 0px 8px 8px 0px;
}

@media (min-width: 800px) {
.container{
 width: 700px;
 margin: 0 auto;
}
}